div#can{
	outline: 1px dashed green;
	width: 970px;
	min-height: 800px;
	margin: 0 auto;
	background-color: #000;
}

div#top-box{
	width: 100%;
	background-color: #fff;
	text-transform: uppercase;
}
	#top-box h3{
		display: inline-block;
		vertical-align: top;
		padding: 15px 0 0 250px;
	}
	#top-box ul{
		margin: 10px 0 20px 0;
		border-top: 1px solid gray;
		background-color: #ddd;
	}
	#top-box li{
		display: inline-block;
		padding: 8px 20px;
		border: 1px solid;
		border-style: none solid;
		border-left-color: #fff;
		border-right-color: gray;
		font-size: .7em;
		font-weight: bold;
	}

div#main-box{
	width: 930px;
	padding: 0 20px;
	margin: 0 auto;
}
	#main-box img{
		border: 5px solid white;
	}
	#main-box div{
		display: inline-block;
	}
	.feature{
		color: #fff;
		background-color: gray;
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		width: 525px;
		height: 265px;
	}
	.feat-content{
		margin: 0;
		padding: 10px 20px 0 20px;
	}

div#main-pg-btm{

}

.title{
	text-transform: uppercase;
	background-color: #FEC622;
	color: #222;
	padding: 5px 0 5px 10px;
	margin: 0;
}
body{
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	color: #222;
}
body p{
	font-family: Verdana;
	font-size: .75em;
}
div {
/*	outline: 1px dashed #fff;*/
}